<section>
  <h3>Need help?</h3>
  <ul>
    <li><a href="http://hapijs.com">http://hapijs.com</a></li>
    <li>lloyd.benson@gmail.com</li>
    <li>#hapi in irc.freenode.net</li>
    <li><a href="https://gitter.im/hapijs/hapi">https://gitter.im/hapijs/hapi</a></li>
    <li><a href="https://github.com/hapijs/makemehapi">makemehapi</a> (on nodeschool)</li>
    <li><a href="https://github.com/hapijs/discuss">https://github.com/hapijs/discuss</a></li>
    <li>mentor <a href="https://github.com/hapijs/help">https://github.com/hapijs/help</a></li>
  </ul>
</section>
