<section>
  <h3>Need help?</h3>
  <ul>
    <li><a href="http://hapijs.com">http://hapijs.com</a></li>
    <li><a href="https://github.com/hapijs/university">http://github.com/hapijs/university</a></li>
    <li>books - <a href="http://www.manning.com/harrison/">hapi.js in action</a> and <a href="http://bleedingedgepress.com/developing-a-hapi-edge">developing a hapi edge</a></li>
    <li>chat - <a href="https://gitter.im/hapijs/hapi">https://gitter.im/hapijs/hapi</a></li>
    <li>npm install -g <a href="https://github.com/hapijs/makemehapi">makemehapi</a> (<a href="http://nodeschool.io">http://nodeschool.io</a>)</li>
    <li>git issue - <a href="https://github.com/hapijs/discuss">https://github.com/hapijs/discuss</a></li>
    <li>mentor program <a href="http://hapijs.com/help">http://hapijs.com/help</a></li>
  </ul>
</section>
