				<section>
					<h3><a href="http://github.com/hapijs">hapijs</a> plugins</h3>
<center>
<table>
<tr>
<td style="border-bottom: 0px;">
<img src="/images/hapijs/good.png" height=75 style="border:none; background:none; box-shadow:none;"/>
<img src="/images/hapijs/poop.png" height=70 style="border:none; background:none; box-shadow:none;"/>
<img src="/images/hapijs/hoek.png" height=60 style="border:none; background:none; box-shadow:none;"/>
<img src="/images/hapijs/crumb.png" height=70 style="border:none; background:none; box-shadow:none;"/>
</td>
</tr>
<tr>
<td style="border-bottom: 0px;">
<img src="/images/hapijs/joi.png" height=75 style="border:none; background:none; box-shadow:none;"/>
<img src="/images/hapijs/boom.png" height=65 style="border:none; background:none; box-shadow:none;"/>
<img src="/images/hapijs/scooter.png" height=70 style="border:none; background:none; box-shadow:none;"/>
<img src="/images/hapijs/lout.png" height=65 style="border:none; background:none; box-shadow:none;"/>
</td>
</tr>
<tr>
<td style="border-bottom: 0px;">
<img src="/images/hapijs/yar.png" height=70 style="border:none; background:none; box-shadow:none;"/>
<img src="/images/hapijs/catbox.png" height=70 style="border:none; background:none; box-shadow:none;"/>
<img src="/images/hapijs/shot.png" height=70 style="border:none; background:none; box-shadow:none;"/>
<img src="/images/hapijs/confidence.png" height=60 style="border:none; background:none; box-shadow:none;"/>
</td>
</tr>
</table>
<br/>
<span class="fragment">everyone poops, even hapi</span>
				</section>

