<section>
    <h3>whoami</h3>
    <ul>
        <li>lloyd benson (lloyd.benson@gmail.com)</li>
        <li><a href="https://github.com/lloydbenson">lloydbenson</a>@github</li>
        <li><a href="https://twitter.com/LloydWith2Ls">LloydWith2Ls</a>@twitter</li>
        <li><a href="https://hapi.dev">hapi</a> <a href="https://github.com/hapijs/hapi#technical-steering-committee-tsc-members">TSC</a> member</li>
        <li>author <a href="http://bleedingedgepress.com/developing-a-hapi-edge">(Developing a hapi Edge)</a></li>
        <li>devops/sysadmin/developer/generalist</li>
        <li>person that did a walmart black friday release</li>
    </ul>
</section>
