				<section>
					<h2>Home PXE Network</h2>
					<h3><small>Using apache, dnsmasq, fedora, kickstart</small></h3>
					<p>
						<small>Created by Lloyd Benson / lloyd.benson@gmail.com</small>
					</p>
					<p>
						<a href="http://github.com/lloydbenson/presentations"><small>http://github.com/lloydbenson/presentations</small></a>
					</p>
				</section>
{{> partials/whoami }}
				<section>
					<h3>overview</h3>
					<ul>
                                           <li>how it works</li>
                                           <li>dnsmasq</li>
                                           <li>tftp</li>
                                           <li>http</li>
                                           <li>menus</li>
                                           <li>kickstart</li>
                                        </ul>
				</section>
				<section>
					<h3>how it works</h3>
					<ul>
                                           <li>boot from network</li>
                                           <li>broadcast out to dhcp</li>
                                           <li>dhcp gives address and next-server</li>
                                           <li>goes to next-server</li>
                                           <li>tftp get pxelinux.0</li>
                                           <li>looks in pxelinux.cfg</li>
                                           <li>show default menu</li>
                                           <li>gets initrd, vmlinuz, kickstart, etc</li>
                                        </ul>
				</section>
				<section>
					<h3>dnsmasq</h3>
					<ul>
                                           <li>tftp</li>
                                           <li>dhcp</li>
                                           <li>dns</li>
                                        </ul>
				</section>
				<section>
					<h3>tftp</h3>
					<ul>
                                           <li>put</li>
                                           <li>get</li>
                                           <li>dead simple</li>
                                        </ul>
				</section>
				<section>
					<h3>tftpboot</h3>
                                        <pre><code data-trim contenteditable>
tftpboot/menu.c32
tftpboot/bootimg
tftpboot/bootimg/clonezilla/x86_64/live/initrd.img
tftpboot/bootimg/redhat/fedora/23/x86_64/initrd.img
tftpboot/pxelinux.0
tftpboot/pxelinux.cfg
tftpboot/pxelinux.cfg/default
tftpboot/pxelinux.cfg/main_menu
tftpboot/pxelinux.cfg/os_menu
                                        </code></pre>
				</section>
				<section>
					<h3>pxelinux.cfg</h3>
                                        <pre><code data-trim contenteditable>
pxelinux.cfg/b8945908-d6a6-41a9-611d-74a6ab80b83d (uuid)
pxelinux.cfg/01-88-99-aa-bb-cc-dd (mac)
pxelinux.cfg/C0A8025B (192.168.2.91 in hex)
pxelinux.cfg/C0A8025
pxelinux.cfg/C0A802
pxelinux.cfg/C0A80
pxelinux.cfg/C0A8
pxelinux.cfg/C0A
pxelinux.cfg/C0
pxelinux.cfg/C
pxelinux.cfg/default
                                        </code></pre>
				</section>
				<section>
					<h3>dhcp options</h3>
<ol>
<li>6 => 'domain-name-servers'</li>
<li>15 => 'domain-name'</li>
<li>54 => 'next-server'</li>
<li>209 => 'config-file'</li>
<li>210 => 'path-prefix'</li>
<li>211 => 'reboottime'</li>
</ol>
				</section>
				<section>
					<h3>dnsmasq config</h3>
                                        <pre><code data-trim contenteditable>
domain=\{{ domain }}
dhcp-range=\{{ dhcp_range.min }},\{{ dhcp_range.max }}
{% for address in reserved_addresses %}
dhcp-host=\{{ address.mac  }},\{{ address.ip }}
{% endfor %}
dhcp-option=3,\{{ gateway }}
dhcp-no-override
enable-tftp
tftp-root=\{{ tftp_root }}
dhcp-boot=pxelinux.0,\{{ shorthost }},\{{ ip }}
alias=\{{ gateway }},\{{ ip }}
                                        </code></pre>
				</section>
				<section>
					<h3>http</h3>
					<h4>kickstart / squashfs</h4>
                                        <pre><code data-trim contenteditable>
<VirtualHost _default_:80>
    ServerAdmin webmaster@\{{ domain }}
    DocumentRoot \{{ build_dir }}
    <Directory "\{{ build_dir }}">
       Options Indexes
       Require all granted
    </Directory>
    ServerName \{{ kickstart_hostname }}
    ErrorLog logs/\{{ kickstart_hostname }}-error_log
    CustomLog logs/\{{ kickstart_hostname }}-access_log common
</VirtualHost>
                                        </code></pre>
				</section>
				<section>
					<h3>menus</h3>
					<ul>
                                           <li>default</li>
                                           <li>main menu</li>
                                           <li>operating systems</li>
                                           <li>tools</li>
                                           <li>hosts</li>
                                        </ul>
				</section>
				<section>
					<h3>default</h3>
                                        <pre><code data-trim contenteditable>
timeout 600
ONTIMEOUT localboot
\{{ main_menu }}
                                        </code></pre>
				</section>
				<section>
					<h3>main menu</h3>
                                        <pre><code data-trim contenteditable>
default menu.c32
prompt 0
menu title Main Menu
label localboot
  menu label Local Boot
  localboot 1
{% for menu in menus %}
label \{{ menu.name }}
   menu label \{{ menu.label }}
   kernel menu.c32
   append pxelinux.cfg/\{{ menu.name }}
{% endfor %}
                                        </code></pre>
				</section>
				<section>
					<h3>os menu</h3>
                                        <pre><code data-trim contenteditable>
menu title Operating Systems
label Main Menu
  menu label Main Menu
  kernel menu.c32
  append pxelinux.cfg/main_menu
label redhat-fedora-23-x86_64
  menu label redhat-fedora-23-x86_64
  kernel bootimg/redhat/fedora/23/x86_64/vmlinuz
  append initrd=bootimg/redhat/fedora/23/x86_64/initrd.img \
  stage2=http://mirror.../23/Server/x86_64/os \
  repo=http://mirror.../23/Everything/x86_64/os \
  ramdisk_size=8192 \
  ip=dhcp
...
                                        </code></pre>
				</section>
				<section>
					<h3>hosts menu</h3>
                                        <pre><code data-trim contenteditable>
menu title Hosts
label Main Menu
  menu label Main Menu
  kernel menu.c32
  append pxelinux.cfg/main_menu
label \{{ host.hostname }}
  menu label \{{ host.hostname }}
  kernel bootimg/redhat/fedora/23/x86_64/vmlinuz
  append initrd=bootimg/redhat/fedora/23/x86_64/initrd.img \
  inst.stage2=http://mirror.../23/Server/x86_64/os \
  inst.repo=http://mirror.../23/Everything/x86_64/os \
  inst.ip=dhcp \
  inst.ks=http://\{{ip}}/ks/\{{ host.hostname }}.ks
                                        </code></pre>
				</section>
				<section>
					<h3>tools menu</h3>
                                        <pre><code data-trim contenteditable>
menu title Tools
label Main Menu
  menu label Main Menu
  kernel menu.c32
  append pxelinux.cfg/main_menu
label memtest
  menu label memtest
  kernel bootimg/memtest/memtest
## loop through gparted clonezilla and arch
label \{{ tool.name }}-\{{ arch }}
  menu label \{{ tool.name }}-\{{ arch }}
  kernel bootimg/\{{ tool.name }}/\{{ arch }}/live/vmlinuz
  append initrd=bootimg/{{ tool.name}}/\{{ arch }}/live/initrd.img \
  \{{ tool.args }} \
  fetch=tftp://\{{ ip }}/bootimg/\{{ tool.name }}/\
  \{{ arch }}/live/filesystem.squashfs
                                        </code></pre>
				</section>
				<section>
					<h3>kickstart (top)</h3>
                                        <pre><code data-trim contenteditable>
#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="http://mirrors.kernel.org/fedora/\
releases/23/Everything/x86_64/os"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
                                        </code></pre>
				</section>
				<section>
					<h3>kickstart (middle)</h3>
                                        <pre><code data-trim contenteditable>
# Root password
rootpw --iscrypted \{{ encrypted_hash }}
# System timezone
timezone America/Chicago --isUtc
user --groups=wheel --name=lloyd \
--password=\{{ encrypted_hash }} --iscrypted
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
                                        </code></pre>
				</section>
				<section>
					<h3>kickstart (network)</h3>
                                        <pre><code data-trim contenteditable>
# Network information
network  --bootproto=dhcp --device=enp0s25 --ipv6=auto --activate
network  --hostname=localhost.localdomain
                                        </code></pre>
				</section>
				<section>
					<h3>kickstart (disk)</h3>
                                        <pre><code data-trim contenteditable>
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.19 --fstype="lvmpv" --noformat --onpart=sda2
part /boot --fstype="ext4" --onpart=sda1
volgroup fedora --noformat --useexisting
logvol /  --fstype="ext4" --useexisting \
--name=root --vgname=fedora
logvol swap --fstype="swap" --useexisting \
--name=swap --vgname=fedora
                                        </code></pre>
				</section>
				<section>
					<h3>kickstart (packages)</h3>
                                        <pre><code data-trim contenteditable>
%packages
@^cinnamon-desktop-environment

%end
                                        </code></pre>
				</section>
				<section>
					<h3>kickstart (kdump)</h3>
                                        <pre><code data-trim contenteditable>
%addon com_redhat_kdump --disable --reserve-mb='128'

%end
                                        </code></pre>
				</section>
				<section>
					<h3>tools</h3>
					<ul>
                                           <li>memtest</li>
                                           <li>gparted</li>
                                           <li>clonezilla</li>
                                        </ul>
				</section>
				<section>
					<h3>automate with ansible</h3>
					<a href="http://github.com/lloydbenson/presentations">presentations</a>
				</section>
				<section>
					<h3>resources</h3>
					<ul>
						<li><a href="http://docs.ansible.com">http://docs.ansible.com</a></li>
						<li><a href="http://www.syslinux.org/wiki/index.php?title=PXELINUX">pxelinux</a></li>
					</ul>
				</section>
{{> partials/questions }}
