				<section>
					<h2>Useful Ansible</h2>
					<p>
						<small>Created by Lloyd Benson / lloyd.benson@gmail.com</small>
					</p>
					<p>
						<a href="http://github.com/lloydbenson/presentations"><small>http://github.com/lloydbenson/presentations</small></a>
					</p>
				</section>
{{> partials/whoami }}
				<section>
					<h3>overview</h3>
					<ul>
                                           <li>getting started</li>
                                           <li>variables</li>
                                           <li>conditionals</li>
                                           <li>templates</li>
                                           <li>useful plays</li>
                                           <li>dynamic inventory</li>
                                        </ul>
				</section>
				<section>
					<h3>structure</h3>
                                        <pre><code data-trim contenteditable>
ansible.cfg
playbook.yml
hosts
host_vars
group_vars
roles/
   rolename/
     files/
     templates/
     tasks/main.yml
     handlers/main.yml
     vars/main.yml
     defaults/
     meta/main.yml
                                        </code></pre>
				</section>
				<section>
					<h3>the playbook</h3>
                                        <pre><code data-trim contenteditable>
---
- hosts: admin
  vars:
    admins:
      - lloyd
  roles:
    - server
    - pxe
                                        </code></pre>
				</section>
				<section>
					<h3>calling the playbook</h3>
                                        <pre><code data-trim contenteditable>
ansible-playbook -v playbook.yml -i hosts --limit=$1
                                        </code></pre>
				</section>
				<section>
					<h3>dry run</h3>
                                        <pre><code data-trim contenteditable>
ansible-playbook -v playbook.yml -i hosts \
                 --check --diff --limit=$1
                                        </code></pre>
				</section>
				<section>
					<h3>simple play</h3>
                                        <pre><code data-trim contenteditable>
- name: update to latest
  yum: name=*
       state=latest
  become: true
- name: reboot
  command: /usr/sbin/shutdown -r now
                                        </code></pre>
				</section>
				<section>
					<h3>command vs shell</h3>
                                        <blockquote>
If you want to execute a command securely and predictably, it may be better to use the command module instead. Best practices when writing playbooks will follow the trend of using command unless shell is explicitly required. When running ad-hoc commands, use your best judgement.
                                        </blockquote>
				</section>
				<section>
					<h3>create directory</h3>
                                        <pre><code data-trim contenteditable>
- name: mkdir /somedir
  file: path=/somedir
        state=directory
        owner=lloyd
        group=lloyd
        mode=0755
                                        </code></pre>
				</section>
				<section>
					<h3>remove a dir</h3>
                                        <pre><code data-trim contenteditable>
- name: rm -rf /somedir
  file: path=/somedir
        state=absent
                                        </code></pre>
				</section>
				<section>
					<h3>copy a file</h3>
                                        <pre><code data-trim contenteditable>
- name: copy httpd.conf
  copy: src=httpd.conf
        dest=/etc/httpd/conf/http.conf
        owner=root
        group=root
        mode=0644
  become: true
                                        </code></pre>
				</section>
				<section>
					<h3>copy files</h3>
                                        <pre><code data-trim contenteditable>
- name: copy httpd.conf
  copy: src=\{{ item }}
        dest=/\{{ item }}
  with_items:
    - etc/httpd/conf/httpd.conf
    - etc/samba/samba.conf
  become: true
                                        </code></pre>
				</section>
				<section>
					<h3>synchronize (faster!)</h3>
					<h4>*rsync required on both machines</h4>
                                        <pre><code data-trim contenteditable>
- name: sync files
  synchronize: src=some/relative/path
               dest=/some/absolute/path
                                        </code></pre>
				</section>
				<section>
					<h3>synchronize a file from same host</h3>
					<h4>* broke in 2.x (rsync hangs)</h4>
                                        <pre><code data-trim contenteditable>
- name: copy syslinux images
  synchronize: mode=pull
               src=/usr/share/syslinux/\{{ item }}
               dest=\{{ tftpboot_dir }}/\{{ item }}
  delegate_to: "\{{ inventory_hostname }}"
  with_items:
    - pxelinux.0
    - menu.c32
                                        </code></pre>
				</section>
				<section>
					<h3>copy a file from same host</h3>
                                        <pre><code data-trim contenteditable>
- name: copy syslinux images
  copy: remote_src=true
        src=/usr/share/syslinux/\{{ item }}
        dest=\{{ tftpboot_dir }}/\{{ item }}
  with_items:
    - pxelinux.0
    - menu.c32
                                        </code></pre>
				</section>
				<section>
					<h3>variables</h3>
                                        <pre><code data-trim contenteditable>
---
  apps_dir: /apps
  gateway: 192.168.0.1
  tftp_root: /apps/tftpboot
  reserved_addresses:
    - { ip: '192.168.0.100', mac: 'mac1', host: 'host1' }
    - { ip: '192.168.0.101', mac: 'mac2', host: 'host2' }
  dhcp_range: { min: 192.168.0.150, max: 192.168.0.160 }
  domain: domain.com
  platforms: [ 'x86_64', 'i386' ]

                                        </code></pre>
				</section>
				<section>
					<h3>variable precedence (least to most)</h3>
					<ol>
                                           <li>role defaults</li>
                                           <li>inventory vars</li>
                                           <li>inventory group_vars</li>
                                           <li>inventory host_vars</li>
                                           <li>playbook group_vars</li>
                                           <li>playbook host_vars</li>
                                           <li>host facts</li>
                                           <li>registered vars</li>
                                        </ol>
				</section>
				<section>
					<h3>variable precedence (cont)</h3>
					<ol>
                                           <li>set_facts</li>
                                           <li>play vars</li>
                                           <li>play vars_prompt</li>
                                           <li>play vars_files</li>
                                           <li>role and include vars</li>
                                           <li>block vars (only for tasks in block)</li>
                                           <li>task vars (only for the task)</li>
                                           <li>extra vars (always win precedence)</li>
                                        </ol>
				</section>
				<section>
					<h3>get all facts</h3>
                                        <pre><code data-trim contenteditable>
- name: Display all variables/facts known for a host
  debug: var=hostvars[inventory_hostname]
                                        </code></pre>
                                        <pre><code data-trim contenteditable>
## only gets machine facts not vars relative to play
ansible -i hosts admin1 -m setup
                                        </code></pre>
				</section>
				<section>
					<h3>show variable</h3>
                                        <pre><code data-trim contenteditable>
- name: show contents
  debug: var=clonezilla_version
                                        </code></pre>
				</section>
				<section>
					<h3>concat variable</h3>
                                        <pre><code data-trim contenteditable>
- users: "\{{ admins }} + \{{ devs }}"
                                        </code></pre>
				</section>
				<section>
					<h3>includes</h3>
                                        <pre><code data-trim contenteditable>
---
  - include: prereq.yml
  - include: menus.yml
  - include: tools.yml
  - include: kickstart.yml
  - include: httpd.yml
                                        </code></pre>
				</section>
				<section>
					<h3>regular loops</h3>
                                        <pre><code data-trim contenteditable>
- name: generate menus
  template:
    src=menus/\{{ item }}.j2
    dest=\{{ pxelinuxcfg_dir }}/\{{ item }}
  with_items:
    - main_menu
    - default
    - os_menu
    - tools_menu
                                        </code></pre>
				</section>
				<section>
					<h3>nested loops</h3>
                                        <pre><code data-trim contenteditable>
- name: mkdir tftpboot image dirs
  file: path=\{{ bootimg_dir }}/\ 
        \{{ item[0] }}/\
        \{{ item[1].name }}/\
        \{{ item[1].version}}/\
        \{{ item[2] }}
  with_nested:
    - [ 'redhat' ]
    ## hash 
    - [ { name: 'centos', version: '7' },
        { name: 'fedora', version: '23'} ]
    ## array
    - [ 'x86_64', 'i386' ]

                                        </code></pre>
				</section>
				<section>
					<h3>fileglob loop</h3>
                                        <pre><code data-trim contenteditable>
- name: copy all files in a dir
  copy:
    src=\{{ item }}
    dest=/etc/dest
    owner=root
    mode=600
  with_fileglob: srcdir/* 
                                        </code></pre>
				</section>
				<section>
					<h3>conditionals</h3>
                                        <pre><code data-trim contenteditable>
- name: dnsmasq.conf
  template: src=dnsmasq.conf.j2
            dest=/etc/dnsmasq.conf
  become: true
  when: inventory_hostname == 'admin1'
                                        </code></pre>
				</section>
				<section>
					<h3>include conditional</h3>
                                          <pre><code data-trim contenteditable>
- name: get node version
  shell: node -v
  register: nodejs

- include: nodejs.yml
  when: nodejs != 'v4.4.3'
                                        </code></pre>
				</section>
				<section>
					<h3>conditionals (rc/changed_when)</h3>
                                        <pre><code data-trim contenteditable>
- name: get latest gparted version
  shell: curl -s -L "\{{ gparted_url }}" | grep iso | grep href \
         | awk -F'"' '{print $4}' | awk -F/ '{print $3}'
  register: gparted_version
  changed_when: "gparted_version.rc != 0"
                                        </code></pre>
				</section>
				<section>
					<h3>conditionals (changed)</h3>
                                        <pre><code data-trim contenteditable>
- name: generate httpd.conf
  template:
    src=httpd.conf.j2
    dest=/etc/httpd/conf/httpd.conf
  register: http_template
  become: true

- name: restart httpd
  service: name=httpd enabled=yes state=restarted
  become: true
  when: http_template.changed
                                        </code></pre>
				</section>
				<section>
					<h3>conditionals (handlers)</h3>
                                        <pre><code data-trim contenteditable>
- name: generate httpd.conf
  template:
    src=httpd.conf.j2
    dest=/etc/httpd/conf/httpd.conf
  notify:
    - restart httpd
  become: true

handlers:
  - name: restart httpd
    service: name=httpd enabled=yes state=restarted
    become: true
                                        </code></pre>
				</section>
				<section>
					<h3>flush handlers</h3>
                                          <pre><code data-trim contenteditable>
## will kick off handlers right away
- name: flush handlers
  meta: flush_handlers
                                        </code></pre>
				</section>
				<section>
					<h3>blocks (group conditionals)</h3>
                                          <pre><code data-trim contenteditable>
tasks:
   - block:
       - yum: name=\{{ item }} state=installed
         with_items:
           - httpd
           - memcached
       - template: src=templates/src.j2 dest=/etc/foo.conf
       - service: name=bar state=started enabled=true

     when: ansible_distribution == 'CentOS'
     become: true
     become_user: root
                                        </code></pre>
				</section>
				<section>
					<h3>rescue (from blocks)</h3>
                                          <pre><code data-trim contenteditable>
tasks:
   - block:
       - shell: ./deploy.sh

     when: ansible_distribution == 'CentOS'
     become: true
     become_user: ec2-user

    rescue:
      - debug: msg='I caught an error'
      - command: /bin/false
      - debug: msg='I also never execute :-('
                                        </code></pre>
				</section>
				<section>
					<h3>templates (jinja2)</h3>
                                        <pre><code data-trim contenteditable>
domain=\{{ domain }}
dhcp-range=\{{ dhcp_range.min }},\{{ dhcp_range.max }}
{% for address in reserved_addresses %}
dhcp-host=\{{ address.mac  }},\{{ address.ip }}
{% endfor %}
dhcp-option=3,\{{ gateway }}
dhcp-no-override
enable-tftp
tftp-root=\{{ tftp_root }}
dhcp-boot=pxelinux.0,\{{ shorthost }},\{{ ip }}
alias=\{{ gateway }},\{{ ip }}
                                        </code></pre>
				</section>
				<section>
					<h3>partial templates</h3>
                                        <pre><code data-trim contenteditable>
domain=\{{ domain }}
dhcp-range=\{{ dhcp_range.min }},\{{ dhcp_range.max }}
{% include 'roles/role/templates/partials/' + some_var + '.j2' %}
                                        </code></pre>
				</section>
				<section>
					<h3>filters</h3>
                                          <pre><code data-trim contenteditable>
\{{ 59 |random}} * * * * root /script/from/cron
\{{ myvar | ipv4 }}
\{{ myvar | ipv6 }}
\{{ some_variable \| default(5) }}
\{{ list1 | unique }}
\{{ list1 | union(list2) }}
# get a comma-separated list of the mount points
\{{ ansible_mounts|map(attribute='mount')|join(',') }}
                                        </code></pre>
				</section>
				<section>
					<h3>lineinfile</h3>
                                        <pre><code data-trim contenteditable>
- name: make sure pub ssh key is in file
  lineinfile: dest=/home/user/.ssh/authorized_keys
              line=\{{ pub_key }}
              state=present
                                        </code></pre>
				</section>
				<section>
					<h3>authorized_keys</h3>
                                        <pre><code data-trim contenteditable>
- name: make sure pub ssh key is in file
  authorized_key:
    user: user
    key: \{{ pub_key }}
#    key: "\{{ lookup('file', '/home/user/.ssh/id_rsa.pub') }}"
                                        </code></pre>
				</section>
				<section>
					<h3>tags</h3>
                                        <pre><code data-trim contenteditable>
- name: update to latest
  yum: name=*
       state=latest
  become: true
  tags:
    - patch
- name: reboot
  command: /usr/sbin/shutdown -r now
  tags:
    - patch
    - reboot
                                        </code></pre>
				</section>
				<section>
					<h3>tags example</h3>
                                        <pre><code data-trim contenteditable>
ansible-playbook hosts.yml --tags "patch,reboot"
ansible-playbook hosts.yml --skip-tags "reboot"
                                        </code></pre>
				</section>
				<section>
					<h3>tags (advanced)</h3>
                                        <pre><code data-trim contenteditable>
roles:
  - { role: server, tags: [ 'server' ] }
                                        </code></pre>
                                        <pre><code data-trim contenteditable>
- include: httpd.yml
  tags: [httpd]
                                        </code></pre>
				</section>
				<section>
					<h3>special tags</h3>
                                        <pre><code data-trim contenteditable>
- name: update to latest
  yum: name=*
       state=latest
  become: true
  ## special tag will always run unless --skip-tags always
  tags:
    - always
                                        </code></pre>
                                        <pre><code data-trim contenteditable>
## by default ansible-playbook runs --tags all
## can also run --tags tagged or --tags untagged
                                        </code></pre>
				</section>
				<section>
					<h3>ansible.cfg tweaks</h3>
                                        <pre><code data-trim contenteditable>
[defaults]
remote_user = lloyd
## for home stuff
ask_sudo_pass = true
ask_pass = true
## helps with ssh tunnels
host_key_checking = false
[ssh_connections]
pipelining = true
                                        </code></pre>
				</section>
				<section>
					<h3>fact caching</h3>
                                        <pre><code data-trim contenteditable>
[defaults]
gathering = smart
## can use redis as well
fact_caching = jsonfile
fact_caching_connection = /tmp
# timeout in seconds
fact_caching_timeout = 86400
                                        </code></pre>
				</section>
				<section>
					<h3>async</h3>
                                        <pre><code data-trim contenteditable>
---
# Requires ansible 1.8+
- name: 'YUM - fire and forget task'
  yum: name=docker-io state=installed
  async: 1000
  ## poll of 0 returns immediately
  poll: 0
  register: yum_sleeper

## yum locks so in case you need to do another yum task
- name: 'YUM - check on fire and forget task'
  async_status: jid=\{{ yum_sleeper.ansible_job_id }}
  register: job_result
  until: job_result.finished
  retries: 30
                                        </code></pre>
				</section>
				<section>
					<h3>reboot</h3>
                                        <pre><code data-trim contenteditable>
- name: reboot
  command: /usr/sbin/shutdown -r +1 "logout please"
  ignore_errors: true
  async: 0
  poll: 0
  become: true
- name: wait for ssh port to come down
  local_action: wait_for
                port=22
                host=\{{ ansible_host }}
                state=stopped
- name: wait for ssh port to come back up
  local_action: wait_for
                port=22
                host=\{{ ansible_host }}
                state=started
                                        </code></pre>
				</section>
				<section>
					<h3>dynamic inventory</h3>
					<ul>
                                           <li>ec2</li>
                                           <li>cobbler</li>
                                           <li>openshift</li>
                                           <li>ovirt</li>
                                           <li>spacewalk</li>
                                           <li>zabbix</li>
                                           <li>digital ocean</li>
                                           <li>more...</li>
                                        </ul>
				</section>
				<section>
					<h3>custom dynamic inventory</h3>
                                        <pre><code data-trim contenteditable>
ansible-playbook -v playbook.yml -i ./hosts.sh
                                        </code></pre>
				</section>
				<section>
					<h3>output convention</h3>
                                        <pre><code data-trim contenteditable>
{
  "databases": {
    "hosts": [ "host1.example.com", "host2.example.com" ],
    "vars": { "a" : true }
  },
  "webservers": [ "host2.example.com", "host3.example.com" ],
  "atlanta": {
    "hosts": [ "host1.example.com", "host4.example.com" ],
    "vars": { "b" : false },
    "children": [ "marietta", "5points" ]
  }
}
                                        </code></pre>
				</section>
				<section>
					<h3>custom dynamic inventory (tuning)</h3>
                                        <pre><code data-trim contenteditable>
{
    # results of inventory script as above go here
    "_meta" : {
       "hostvars" : {
          "moocow.example.com"     : { "asdf" : 1234 },
          "llama.example.com"      : { "asdf" : 5678 }
       }
    }
}
                                        </code></pre>
				</section>
				<section>
					<h3>.gitignore</h3>
					<h4>quick way to keep secrets</h4>
                                        <pre><code data-trim contenteditable>
host_vars/*/main.yml
                                        </code></pre>
				</section>
				<section>
					<h3>ansible vault</h3>
                                        <pre><code data-trim contenteditable>
ansible-vault create secrets.yml
ansible-vault edit secrets.yml
ansible-vault rekey secrets.yml
ansible-vault encrypt secrets.yml
ansible-vault decrypt secrets.yml
ansible-vault view secrets.yml
                                        </code></pre>
                                        <pre><code data-trim contenteditable>
ansible-playbook hosts.yml --vault-password-file ~/.vault_pass.txt
ansible-playbook hosts.yml --ask-vault-pass
                                        </code></pre>
				</section>
				<section>
					<h3>resources</h3>
					<ul>
						<li><a href="http://docs.ansible.com">http://docs.ansible.com</a></li>
						<li><a href="http://docs.ansible.com/ansible/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable">variable precedence</a></li>
						<li><a href="http://docs.ansible.com/ansible/developing_inventory.html">dynamic inventory</a></li>
						<li><a href="http://docs.ansible.com/ansible/playbooks_filters.html"}>filters</a></li>
						<li><a href="http://docs.ansible.com/ansible/playbooks_vault.html"}>vault</a></li>
						<li><a href="http://docs.ansible.com/ansible/playbooks_loops.html">loops</a></li>
					</ul>
				</section>
{{> partials/questions }}
