				<section>
					<h2>Useful Ansible</h2>
					<p>
						<small>Created by Lloyd Benson / lloyd.benson@gmail.com</small>
					</p>
					<p>
						<a href="http://github.com/lloydbenson/presentations"><small>http://github.com/lloydbenson/presentations</small></a>
					</p>
				</section>
{{> partials/whoami }}
				<section>
					<h3>overview</h3>
					<ul>
                                           <li>basics</li>
                                           <li>variables</li>
                                           <li>debugging</li>
                                           <li>templates</li>
                                           <li>loops</li>
                                           <li>conditionals</li>
                                           <li>blocks</li>
                                        </ul>
				</section>
				<section>
					<h3>overview (continued)</h3>
					<ul>
                                           <li>filters</li>
                                           <li>tags</li>
                                           <li>dynamic inventory</li>
                                           <li>secrets</li>
                                           <li>docker example</li>
                                        </ul>
				</section>
				<section>
					<h3>structure</h3>
                                        <pre><code data-trim contenteditable>
ansible.cfg
playbook.yml
hosts
host_vars
group_vars
roles/
   rolename/
     files/
     templates/
     tasks/main.yml
     handlers/main.yml
     vars/main.yml
     defaults/
     meta/main.yml
                                        </code></pre>
				</section>
				<section>
					<h3>the playbook</h3>
                                        <pre><code data-trim contenteditable>
---
- hosts: admin
  vars:
    admins:
      - lloyd
  roles:
    - server
    - pxe
                                        </code></pre>
				</section>
				<section>
					<h3>calling the playbook</h3>
                                        <pre><code data-trim contenteditable>
ansible-playbook playbook.yml -i hosts
#ansible-playbook playbook.yml -i hosts --limit=admin
                                        </code></pre>
					<h3>dry run</h3>
                                        <pre><code data-trim contenteditable>
ansible-playbook playbook.yml -i hosts --check --diff
                                        </code></pre>
				</section>
				<section>
					<h3>simple example</h3>
                                        <pre><code data-trim contenteditable>
- name: update to latest
  dnf: # use apt instead for ubuntu
    name: "*"
    state: latest
  # update_cache: true for ubuntu
  become: true
- name: reboot
  reboot:
  become: true
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/collections/ansible/builtin/dnf_module.html">dnf</a> <a href="https://docs.ansible.com/ansible/latest/collections/ansible/builtin/reboot_module.html">reboot</a> <a href="https://docs.ansible.com/ansible/latest/collections/ansible/builtin/apt_module.html">apt</a>
				</section>
				<section>
					<h3>shell</h3>
                                        <pre><code data-trim contenteditable>
- name: can always fallback to shell
  shell: cat < *.txt
  # use quote filter to protect from injection
  # shell: cat \{{ myfile | quote }}
  args:
    chdir: /tmp
  environment:
    SOME_VAR: value
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/collections/ansible/builtin/shell_module.html">shell</a>
				</section>
				<section>
					<h3>command</h3>
                                        <pre><code data-trim contenteditable>
- name: simple command
  command: cat /etc/hosts
  args:
    chdir: /tmp
    creates: /tmp/hosts.out
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/collections/ansible/builtin/command_module.html">command</a>
				</section>
				<section>
					<h3>command vs shell</h3>
                                        <blockquote>
The command(s) will not be processed through the shell, so variables like $HOME and operations like "<", ">", "|", ";" and "&" will not work. Use the shell module if you need these features. The command module is safer for possible injection, but the "quote" filter is still recommended for either case.
                                        </blockquote>
				</section>
				<section>
					<h3>create directory</h3>
                                        <pre><code data-trim contenteditable>
- name: mkdir /somedir
  file:
    path: /somedir
    state: directory
    owner: lloyd
    group: lloyd
    mode: "0755"
                                        </code></pre>
				</section>
				<section>
					<h3>remove a dir</h3>
                                        <pre><code data-trim contenteditable>
- name: rm -rf /somedir
  file:
    path: /somedir
    state: absent
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/collections/ansible/builtin/file_module.html">file</a>
				</section>
				<section>
					<h3>copy a file</h3>
                                        <pre><code data-trim contenteditable>
- name: copy httpd.conf
  copy:
    src: httpd.conf
    dest: /etc/httpd/conf/http.conf
    owner: root
    group: root
    mode: "0644"
  become: true
                                        </code></pre>
				</section>
				<section>
					<h3>copy files</h3>
                                        <pre><code data-trim contenteditable>
- name: copy files
  copy:
    src: "\{{ item }}"
    dest: "/\{{ item }}"
  with_items:
    - etc/httpd/conf/httpd.conf
    - etc/samba/samba.conf
  become: true
                                        </code></pre>
				</section>
				<section>
					<h3>copy a file from same host</h3>
                                        <pre><code data-trim contenteditable>
- name: copy syslinux images
  copy:
    remote_src: true
    src: /usr/share/syslinux/\{{ item }}
    dest: \{{ tftpboot_dir }}/\{{ item }}
  with_items:
    - pxelinux.0
    - menu.c32
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/collections/ansible/builtin/copy_module.html">copy</a>
				</section>
				<section>
					<h3>synchronize (faster!)</h3>
					<h4>*rsync required on both machines</h4>
                                        <pre><code data-trim contenteditable>
# ansible-galaxy collection install ansible.posix
- name: sync files
  ansible.posix.synchronize:
    src: some/relative/path
    dest: /some/absolute/path
                                        </code></pre>
				</section>
				<section>
					<h3>synchronize a file on delegate host (pull)</h3>
                                        <pre><code data-trim contenteditable>
- name: copy syslinux images
  ansible.posix.synchronize:
    mode: pull
    src: /usr/share/syslinux/\{{ item }}
    dest: \{{ tftpboot_dir }}/\{{ item }}
  delegate_to: delegate.host
  with_items:
    - pxelinux.0
    - menu.c32
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/collections/ansible/posix/synchronize_module.html">synchronize</a>
				</section>
				<section>
					<h3>includes</h3>
                                        <pre><code data-trim contenteditable>
---
- include: prereq.yml
- include: menus.yml
- include: tools.yml
- include: kickstart.yml
- include: httpd.yml
                                        </code></pre>
				</section>
				<section>
					<h3>variables</h3>
                                        <pre><code data-trim contenteditable>
---
apps_dir: /apps
gateway: 192.168.0.1
tftp_root: /apps/tftpboot
reserved_addresses:
  - { ip: "192.168.0.100", mac: "mac1", host: "host1" }
  - { ip: "192.168.0.101", mac: "mac2", host: "host2" }
dhcp_range: { min: 192.168.0.150, max: 192.168.0.160 }
domain: domain.com
platforms: [ "x86_64", "i386" ]

                                        </code></pre>
				</section>
				<section>
					<h3>variable precedence</h3>
					<h4>(least to most)</h4>
					<ul>
                                           <li>command line values (-u my_user), these are not variables</li>
                                           <li>role defaults (role/default/main.yml)</li>
                                           <li>inventory vars or script group vars</li>
                                           <li>inventory group_vars/all</li>
                                           <li>playbook group_vars/all</li>
                                           <li>inventory group_vars/*</li>
                                           <li>playbook group_vars/*</li>
					</ul>
				</section>
				<section>
					<h3>variable precedence (cont)</h3>
					<ul>
                                           <li>inventory file or script host vars</li>
                                           <li>inventory host_vars/*</li>
                                           <li>playbook host_vars/*</li>
                                           <li>host facts / cached set_facts</li>
                                           <li>play vars</li>
                                           <li>play vars_prompt</li>
                                           <li>play vars_files</li>
                                        </ul>

				</section>
				<section>
					<h3>variable precedence (cont)</h3>
					<ul>
                                           <li>role vars (role/vars/main.yml)</li>
                                           <li>block vars (only for tasks in block)</li>
                                           <li>task vars (only for the task)</li>
                                           <li>include_vars</li>
                                           <li>set_facts / registered vars</li>
                                           <li>role (and include role) params</li>
                                           <li>include params</li>
                                           <li>extra vars (-e "user=myuser")(always win precedence)</li>
                                        </ul>
Documentation: <a href="https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable">variable precedence</a>
				</section>
				<section>
					<h3>get all facts</h3>
                                        <pre><code data-trim contenteditable>
- name: Display all variables/facts known for a host
  debug:
    var: hostvars[inventory_hostname]
                                        </code></pre>
                                        <pre><code data-trim contenteditable>
## only gets machine facts not vars relative to play
ansible -i hosts admin1 -m setup
                                        </code></pre>
				</section>
				<section>
					<h3>register / show variable</h3>
                                        <pre><code data-trim contenteditable>
- name: get latest gparted version
  shell: curl -s -L "\{{ gparted_url }}" | grep iso \
         | grep href \
         | awk -F'"' '{print $4}' | awk -F/ '{print $3}'
  register: gparted_version
- name: show contents
  debug:
    var: gparted_version.stdout
                                        </code></pre>
				</section>
				<section>
					<h3>concat lists</h3>
                                        <pre><code data-trim contenteditable>
- users: "\{{ admins }} + \{{ devs }}"
                                        </code></pre>
				</section>
				<section>
					<h3>template</h3>
                                        <pre><code data-trim contenteditable>
- name: generate dnsmasq.conf
  template:
    src: dnsmasq.conf.j2
    dest: /etc/dnsmasq.conf
                                        </code></pre>
Documentation <a href="https://docs.ansible.com/ansible/latest/collections/ansible/builtin/template_module.html">template</a>
				</section>
				<section>
					<h3>templates (jinja2)</h3>
                                        <pre><code data-trim contenteditable>
domain=\{{ domain }}
dhcp-range=\{{ dhcp_range.min }},\{{ dhcp_range.max }}
{% for address in reserved_addresses %}
dhcp-host=\{{ address.mac  }},\{{ address.ip }}
{% endfor %}
dhcp-option=3,\{{ gateway }}
dhcp-no-override
enable-tftp
tftp-root=\{{ tftp_root }}
dhcp-boot=pxelinux.0,\{{ shorthost }},\{{ ip }}
alias=\{{ gateway }},\{{ ip }}
                                        </code></pre>
Documentation <a href="https://jinja.palletsprojects.com/en/2.11.x/templates/">jinja2</a>
				</section>
				<section>
					<h3>partial templates</h3>
                                        <pre><code data-trim contenteditable>
domain=\{{ domain }}
dhcp-range=\{{ dhcp_range.min }},\{{ dhcp_range.max }}
{% include "roles/role/templates/partials/" + some_var + ".j2" %}
                                        </code></pre>
				</section>
				<section>
					<h3>regular loops</h3>
                                        <pre><code data-trim contenteditable>
- name: generate menus
  template:
    src: menus/\{{ item }}.j2
    dest: "\{{ pxelinuxcfg_dir }}/\{{ item }}"
  with_items:
    - main_menu
    - default
    - os_menu
    - tools_menu
                                        </code></pre>
				</section>
				<section>
					<h3>nested loops</h3>
                                        <pre><code data-trim contenteditable>
- name: mkdir tftpboot image dirs
  file:
    path: \{{ bootimg_dir }}/\ 
          \{{ item[0] }}/\
          \{{ item[1].name }}/\
          \{{ item[1].version}}/\
          \{{ item[2] }}
  with_nested:
    - [ "redhat" ]
    ## hash 
    - [ { name: "centos", version: "7" },
        { name: "fedora", version: "33"} ]
    ## array
    - [ "x86_64", "i386" ]

                                        </code></pre>
				</section>
				<section>
					<h3>fileglob loop</h3>
                                        <pre><code data-trim contenteditable>
- name: copy all files in a dir
  copy:
    src: "\{{ item }}"
    dest: /etc/dest
    owner: root
    mode: "600"
  with_fileglob:
    - "srcdir/*"
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html">loops</a>
				</section>
				<section>
					<h3>conditionals</h3>
                                        <pre><code data-trim contenteditable>
- name: dnsmasq.conf
  template:
    src: dnsmasq.conf.j2
    dest: /etc/dnsmasq.conf
  become: true
  when: inventory_hostname == "admin1"
                                        </code></pre>
				</section>
				<section>
					<h3>include conditional</h3>
                                          <pre><code data-trim contenteditable>
- name: get node version
  shell: node -v
  register: nodejs

- include: nodejs.yml
  when: nodejs.stdout != "v14.0.0"
                                        </code></pre>
				</section>
				<section>
					<h3>conditionals (rc/changed_when)</h3>
                                        <pre><code data-trim contenteditable>
- name: get latest gparted version
  shell: curl -s -L "\{{ gparted_url }}" | grep iso \
         | grep href \
         | awk -F'"' '{print $4}' | awk -F/ '{print $3}'
  register: gparted_version
  changed_when: "gparted_version.rc != 0"
                                        </code></pre>
				</section>
				<section>
					<h3>conditionals (changed)</h3>
                                        <pre><code data-trim contenteditable>
- name: generate httpd.conf
  template:
    src: httpd.conf.j2
    dest: /etc/httpd/conf/httpd.conf
  register: http_template
  become: true

- name: restart httpd
  service:
    name:httpd
    enabled: true
    state: restarted
  become: true
  when: http_template.changed
                                        </code></pre>
				</section>
				<section>
					<h3>conditionals (handlers)</h3>
                                        <pre><code data-trim contenteditable>
- name: generate httpd.conf
  template:
    src: httpd.conf.j2
    dest: /etc/httpd/conf/httpd.conf
  notify:
    - restart httpd
  become: true
handlers:
# can stick this in handlers/main.yml instead
  - name: restart httpd
    service:
      name: httpd
      enabled: true
      state: restarted
    become: true
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/user_guide/playbooks_conditionals.html">conditionals</a>
				</section>
				<section>
					<h3>flush handlers</h3>
                                          <pre><code data-trim contenteditable>
## will kick off handlers right away
- meta: flush_handlers
                                        </code></pre>
					<h3>end play</h3>
                                          <pre><code data-trim contenteditable>
- meta: end_play
## nothing will continue
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/collections/ansible/builtin/meta_module.html">meta</a>
				</section>
				<section>
					<h3>blocks (group conditionals)</h3>
                                          <pre><code data-trim contenteditable>
tasks:
- name: do my block tasks
  block:
   - yum:
       name: "\{{ item }}"
       state: installed
     with_items:
       - httpd
       - memcached
   - template:
       src: templates/src.j2
       dest: /etc/foo.conf
   - service:
       name: bar
       state: started
       enabled: true
 when: ansible_distribution == "CentOS"
 become: true
                                        </code></pre>
				</section>
				<section>
					<h3>rescue (from blocks)</h3>
                                          <pre><code data-trim contenteditable>

- name: Handle the error
  block:
    - name: Print a message
      ansible.builtin.debug:
        msg: "I execute normally"
    - name: Force a failure
      ansible.builtin.command: /bin/false
    - name: Never print this
      ansible.builtin.debug:
        msg: "I never execute, due to the above task failing, :-("
  rescue:
    - name: Print when errors
      ansible.builtin.debug:
        msg: "I caught an error, can do stuff here to fix it, :-)"
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/user_guide/playbooks_blocks.html">blocks</a>
				</section>
				<section>
					<h3>filters</h3>
                                          <pre><code data-trim contenteditable>
## pick random number between 0 and 59
\{{ 59 | random }} * * * * root /script/from/cron 
\{{ myvar | ipv4 }}
\{{ some_variable | default(5) }}
\{{ list1 | unique }}
\{{ list1 | union(list2) }}
# get a comma-separated list of the mount points
\{{ ansible_mounts | map(attribute="mount") | join(",") }}
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html">filters</a>
				</section>
				<section>
					<h3>lineinfile</h3>
                                        <pre><code data-trim contenteditable>
- name: make sure pub ssh key is in file
  lineinfile:
    dest: /home/user/.ssh/authorized_keys
    line: "\{{ pub_key }}"
    state: present
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/collections/ansible/builtin/lineinfile_module.html">lineinfile</a>
				</section>
				<section>
					<h3>authorized_key</h3>
                                        <pre><code data-trim contenteditable>
# ansible-galaxy collection install ansible.posix
- name: make sure pub ssh key is in file
  ansible.posix.authorized_key:
    user: user
    key: "\{{ pub_key }}"
#    key: "\{{ lookup("file", "/home/user/.ssh/id_rsa.pub") }}"
#    key: https://github.com/lloydbenson.keys
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/collections/ansible/posix/authorized_key_module.html">authorized_key</a>
				</section>
				<section>
					<h3>tags</h3>
                                        <pre><code data-trim contenteditable>
- name: update to latest
  yum:
    name: "*"
    state: latest
  become: true
  tags:
    - patch
- name: reboot
  reboot:
  tags:
    - patch
    - reboot
                                        </code></pre>
				</section>
				<section>
					<h3>tags example</h3>
                                        <pre><code data-trim contenteditable>
ansible-playbook hosts.yml --tags "patch,reboot"
ansible-playbook hosts.yml --skip-tags "reboot"
                                        </code></pre>
				</section>
				<section>
					<h3>tags (advanced)</h3>
                                        <pre><code data-trim contenteditable>
roles:
  - { role: server, tags: [ "server" ] }
                                        </code></pre>
                                        <pre><code data-trim contenteditable>
- include: httpd.yml
  tags: ["httpd"]
                                        </code></pre>
				</section>
				<section>
					<h3>special tags</h3>
                                        <pre><code data-trim contenteditable>
- name: update to latest
  yum:
    name: "*"
    state: latest
  become: true
  ## special tag will always run unless --skip-tags always
  tags:
    - always
                                        </code></pre>
                                        <pre><code data-trim contenteditable>
## by default ansible-playbook runs --tags all
## can also run --tags tagged or --tags untagged
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/user_guide/playbooks_tags.html">tags</a>
				</section>
				<section>
					<h3>ansible.cfg tweaks</h3>
                                        <pre><code data-trim contenteditable>
[defaults]
remote_user = lloyd
## for home stuff
ask_sudo_pass = true
ask_pass = true
## helps with ssh tunnels
host_key_checking = false
vault_password_file = vault.txt
[ssh_connections]
pipelining = true
                                        </code></pre>
				</section>
				<section>
					<h3>fact caching</h3>
                                        <pre><code data-trim contenteditable>
[defaults]
gathering = smart
## can use redis as well
fact_caching = jsonfile
fact_caching_connection = /tmp
# timeout in seconds
fact_caching_timeout = 86400
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/2.4/intro_configuration.html">ansible.cfg</a>
				</section>
				<section>
					<h3>async</h3>
                                        <pre><code data-trim contenteditable>
---
- name: yum - fire and forget task
  yum:
    name: docker
    state: installed
  async: 1000
  ## poll of 0 returns immediately
  poll: 0
  register: yum_sleeper

## yum locks so in case you need to do another yum task
- name: yum - check on fire and forget task
  async_status:
    jid: "\{{ yum_sleeper.ansible_job_id }}"
  register: job_result
  until: job_result.finished
  retries: 30
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/user_guide/playbooks_async.html">async</a>
				</section>
				<section>
					<h3>wait_for</h3>
                                        <pre><code data-trim contenteditable>
- name: restart samba
  service:
    name: "\{{ item }}"
    state: restarted
    enable: true
  become: true
  with_items:
    - nmb
    - smb
- name: ensure samba is listening
  wait_for:
    port: 139
                                        </code></pre>
Documentation <a href="https://docs.ansible.com/ansible/latest/collections/ansible/builtin/wait_for_module.html">wait_for</a>
				</section>
				<section>
					<h3>dynamic inventory</h3>
					<ul>
                                           <li>ec2</li>
                                           <li>cobbler</li>
                                           <li>openshift</li>
                                           <li>ovirt</li>
                                           <li>spacewalk</li>
                                           <li>zabbix</li>
                                           <li>digital ocean</li>
                                           <li>more...</li>
                                        </ul>
				</section>
				<section>
					<h3>custom dynamic inventory</h3>
                                        <pre><code data-trim contenteditable>
ansible-playbook -v playbook.yml -i ./hosts.sh
                                        </code></pre>
				</section>
				<section>
					<h3>output convention</h3>
                                        <pre><code data-trim contenteditable>
{
  "databases": {
    "hosts": [ "host1.example.com", "host2.example.com" ],
    "vars": { "a" : true }
  },
  "webservers": [ "host2.example.com", "host3.example.com" ],
  "atlanta": {
    "hosts": [ "host1.example.com", "host4.example.com" ],
    "vars": { "b" : false },
    "children": [ "marietta", "5points" ]
  }
}
                                        </code></pre>
				</section>
				<section>
					<h3>custom dynamic inventory (tuning)</h3>
                                        <pre><code data-trim contenteditable>
{
    # results of inventory script as above go here
    "_meta" : {
       "hostvars" : {
          "moocow.example.com"     : { "asdf" : 1234 },
          "llama.example.com"      : { "asdf" : 5678 }
       }
    }
}
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/user_guide/intro_dynamic_inventory.html">dynamic inventory</a>
				</section>
				<section>
					<h3>.gitignore</h3>
					<h4>quick way to keep secrets</h4>
                                        <pre><code data-trim contenteditable>
host_vars/*/secret.yml
                                        </code></pre>
				</section>
				<section>
					<h3>ansible vault</h3>
                                        <pre><code data-trim contenteditable>
ansible-vault create secrets.yml
ansible-vault edit secrets.yml
ansible-vault rekey secrets.yml
ansible-vault encrypt secrets.yml
ansible-vault encrypt_string "somestring"
ansible-vault decrypt secrets.yml
ansible-vault view secrets.yml
                                        </code></pre>
                                        <pre><code data-trim contenteditable>
ansible-playbook hosts.yml --vault-password-file ~/.vault.txt
ansible-playbook hosts.yml --ask-vault-pass
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/user_guide/vault.html"}>ansible vault</a>
				</section>
				<section>
					<h3>decrypt string</h3>
                                        <pre><code data-trim contenteditable>
#!/bin/bash
FILE=$1
ANSIBLE_VAR=$2

ansible localhost -m debug -a "var=${ANSIBLE_VAR}" -e @${FILE}
                                        </code></pre>
				</section>
				<section>
					<h3>docker-compose</h3>
                                        <pre><code data-trim contenteditable>
- name: get docker-compose
  get_url:
    url: "\{{ docker_url }}/\{{ docker_compose_version }}/\
        docker-compose-Linux-x86_64"
    dest: /usr/local/bin/docker-compose
  become: true
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/collections/ansible/builtin/get_url_module.html">get_url</a>
				</section>
				<section>
					<h3>generate docker-compose</h3>
                                        <pre><code data-trim contenteditable>
- name: mkdir /etc/lb
  file:
    path: /etc/lb
    state: directory
  become: true
- name: generate docker-compose
  template:
    src: presentations.yml.j2
    dest: "/etc/lb/presentations.yml"
  become: true
                                        </code></pre>
				</section>
				<section>
					<h3>generate service</h3>
                                        <pre><code data-trim contenteditable>
- name: generate service
  template:
    src: presentations.service.j2
    dest: "/etc/systemd/system/presentations.service"
  become: true
                                        </code></pre>
				</section>
				<section>
					<h3>presentations.service.j2</h3>
                                        <pre><code data-trim contenteditable>
[Unit]
Description=presentations
After=docker.service
Requires=docker.service
[Service]
Restart=always
RestartSec=5
ExecStartPre=docker-compose -f /etc/lb/presentations.yml stop
ExecStartPre=docker-compose -f /etc/lb/presentations.yml rm -f
ExecStart=docker-compose -f /etc/lb/presentations.yml up
ExecStop=docker-compose -f /etc/lb/presentations.yml stop
                                        </code></pre>
				</section>
				<section>
					<h3>presentations.yml.j2</h3>
                                        <pre><code data-trim contenteditable>
version: '3.7'

services:
  presentations:
    image: lloydbenson/presentations
  ports:
    - "8082:8082"
  volumes:
    - /path/to/your/html:/apps/presentations/html
                                        </code></pre>
				</section>
				<section>
					<h3>start it up</h3>
                                        <pre><code data-trim contenteditable>
- name: start up presentation
  service:
    name: presentations
    enabled: true
    state: started
  become: true
                                        </code></pre>
				</section>
				<section>
					<h3>docker_image</h3>
                                        <pre><code data-trim contenteditable>
# ansible-galaxy collection install community.docker
- name: install pip
  yum:
    name: python-pip
    state: present
  become: true
- name: install docker-py
  pip:
    name: docker-py
    state: present
  become: true
- name: pull an image
  community.docker.docker_image:
    name: lloydbenson/presentations
    source: pull
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/collections/community/docker/docker_image_module.html">docker_image</a>
				</section>
				<section>
					<h3>docker_container</h3>
                                        <pre><code data-trim contenteditable>
# ansible-galaxy collection install community.docker
- name: create a data container
  docker_container:
    name: mydata
    image: busybox
    volumes:
      - /data
                                        </code></pre>
				</section>
				<section>
					<h3>docker_container</h3>
                                        <pre><code data-trim contenteditable>
- name: recreate a redis container
  docker_container:
    name: myredis
    image: redis
    command: redis-server --appendonly yes
    state: present
    recreate: yes
    exposed_ports:
      - 6379
    volumes_from:
      - mydata
                                        </code></pre>
				</section>
				<section>
					<h3>docker cleanup</h3>
                                        <pre><code data-trim contenteditable>
- name: remove container
  docker_container:
    name: ohno
    state: absent
                                        </code></pre>
Documentation: <a href="https://docs.ansible.com/ansible/latest/collections/community/docker/docker_container_module.html">docker_container</a>
				</section>
				<section>
					<h3>resources</h3>
					<ul>
						<li><a href="https://docs.ansible.com">https://docs.ansible.com</a></li>
						<li>ansible-doc (cli tool)</li>
					</ul>
				</section>
{{> partials/questions }}
